canvas {
	border: 1px solid #000000;
}
h1 {
	background-color: #ccc;
	margin-bottom: 5px;
	margin-top: 1px;
	text-align: center;
}
h4 {
	background-color: #ccc;
	margin-bottom: 2px;
	text-align: center;
}

